<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form id="create-form" action="edit.html" th:action="@{/genres/create}" th:method="post" th:object="${genre}">
    <h3>New Genre:</h3>

    <div class="row">
        <label for="genre-name">Name:</label>
        <input id="genre-name" name="name" type="text"/>
    </div>

    <br><br>

    <div class="row">
        <button type="submit">Save</button>
        <button onclick="window.location.href='/genres'" type="button">Cancel</button>
    </div>
</form>

</body>
</html>