<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form id="edit-form" action="edit.html" th:action="@{/authors/edit(id=${author.id})}" th:method="post"
      th:object="${author}">
    <h3>Author Info:</h3>

    <div class="row">
        <label for="author-name-input">Name:</label>
        <input id="author-name-input" name="name" type="text" th:value="*{name}" value="Lermontov"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <button onclick="window.location.href='/authors'" type="button">Cancel</button>
    </div>
</form>

</body>
</html>